<div class="home-desk">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <div class="menti-on">
      <span
        ><span class="menti-on-span">MENTI</span
        ><span class="menti-on-span2">-</span
        ><span class="menti-on-span3">ON</span></span
      >
    </div>

    <img class="_2-d-1-1" src="_2-d-1-1.png" />

    <div class="group-16">
      <div class="rectangle-14"></div>
  
      <div class="start-chat">
        <a href="/1">Start Chat</a>
      </div>
    </div>

  
   
    <div class="_2-d-1"></div>
  
    
  </div>